flows-final.json
[{"id":"1de071bb.386d1e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eda7994d.93d3c8","type":"http in","z":"1de071bb.386d1e","name":"","url":"/api/recommend","method":"post","upload":true,"swaggerDoc":"","x":180,"y":320,"wires":[["ff6883e2.174fc","69667de6.ce6a14"]]},{"id":"fad608b6.5ca308","type":"change","z":"1de071bb.386d1e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"},{"t":"set","p":"car","pt":"msg","to":"req.body.car","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":400,"wires":[["2d8cb2ec.2c8b9e"]]},{"id":"88d1053f.b86d78","type":"change","z":"1de071bb.386d1e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.text","tot":"msg"},{"t":"set","p":"car","pt":"msg","to":"req.body.car","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":300,"wires":[["ab22b1a6.46844"]]},{"id":"86b2dde9.e51fa","type":"natural-language-understanding","z":"1de071bb.386d1e","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"","x":1120,"y":380,"wires":[["6741f8b8.5d8238","cd0885fd.e693d8"]]},{"id":"ff6883e2.174fc","type":"switch","z":"1de071bb.386d1e","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":320,"wires":[["88d1053f.b86d78"],["fad608b6.5ca308"]]},{"id":"ab22b1a6.46844","type":"function","z":"1de071bb.386d1e","name":"","func":"msg.nlu_options = \n{\"entity_model\":\"f7fa1cd3-0593-463c-8d70-8b696ea8b034\",\n \"relations_model\":\"f7fa1cd3-0593-463c-8d70-8b696ea8b034\"    \n};\n\ndicionario = [\"mas\",\"porém\",\"entretanto\",\"contudo\", \"ainda assim\", \"apesar disso\", \"porem\", \"todavia\", \"apesar disso\"]\n\nfor (var i = 0; i < dicionario.length; i++) {\n    msg.payload = msg.payload.replace(dicionario[i],'. '+ dicionario[i]);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":340,"wires":[["86b2dde9.e51fa"]]},{"id":"c27a532c.9e1c7","type":"http response","z":"1de071bb.386d1e","name":"","statusCode":"","headers":{},"x":1350,"y":580,"wires":[]},{"id":"f1ab0131.f6034","type":"debug","z":"1de071bb.386d1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":580,"wires":[]},{"id":"cd0885fd.e693d8","type":"function","z":"1de071bb.386d1e","name":"","func":"//functions\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n\nfunction getMinScore(arr) {\n    var min;\n    for (var i=0 ; i<arr.length ; i++) {\n        if (min == null || arr[i].sentiment.score < min.sentiment.score ) \n                min = arr[i];\n    }\n    return min;\n}\n\n// input\n\nentities = msg.features.entities;\n\ncar = msg.car.toUpperCase();\n\n\n//ranking categoriais\n\nranking = {\n    'ACESSORIOS':   [\"RENEGADE\",\"TORO\",\"FIAT 500\",\"CRONOS\",\"ARGO\",\"LINEA\",\"FIORINO\",\"DUCATO\",\"MAREA\"],\n    'CONFORTO':     [\"RENEGADE\",\"TORO\",\"ARGO\",\"FIAT 500\",\"CRONOS\",\"LINEA\",\"FIORINO\",\"DUCATO\",\"MAREA\"],\n    'CONSUMO' :     [\"ARGO\",\"FIAT 500\",\"TORO\",\"MAREA\",\"RENEGADE\",\"DUCATO\",\"FIORINO\",\"CRONOS\",\"LINEA\"],\n    'DESEMPENHO':   [\"MAREA\",\"TORO\",\"RENEGADE\",\"FIAT 500\",\"CRONOS\",\"ARGO\",\"LINEA\",\"FIORINO\",\"DUCATO\"],\n    'DESIGN':       [\"RENEGADE\",\"ARGO\",\"TORO\",\"FIAT 500\",\"CRONOS\",\"MAREA\",\"LINEA\",\"FIORINO\",\"DUCATO\"],\n    'MANUTENCAO':   [\"FIORINO\",\"RENEGADE\",\"CRONOS\",\"TORO\",\"ARGO\",\"MAREA\",\"DUCATO\",\"FIAT 500\",\"LINEA\"],\n    'SEGURANCA':    [\"RENEGADE\",\"FIAT 500\",\"TORO\",\"ARGO\",\"LINEA\",\"CRONOS\",\"DUCATO\",\"FIORINO\",\"MAREA\"],\n    'MODELO':       [\"RENEGADE\",\"ARGO\",\"TORO\",\"FIAT 500\",\"CRONOS\",\"MAREA\",\"LINEA\",\"FIORINO\",\"DUCATO\"],\n}\n\nprioridades = [\"SEGURANCA\",\"CONSUMO\",\"DESEMPENHO\",\"MANUTENCAO\",\"CONFORTO\",\"DESIGN\",\"ACESSORIOS\",\"MODELO\"]\n\nkeys   = Object.keys(entities);\nlowest = Math.min.apply(null, keys.map(function(x) { return entities[x].sentiment.score} ));\nmatch  = keys.filter(function(y) { return Math.abs(entities[y].sentiment.score - lowest)< 0.1 });\n\n// 1 CASO - SEM ENTIDADE == SEM RECOMENDACAO\nif (entities.length === 0){\n    \n    msg.payload = {\n            \"recommendation\": \"\",\n            \"entities\": []\n        }\n        \n} else if (match.length == 1){  \n    \n    minScore = entities[match[0]].sentiment.score\n    \n    if (minScore >= 0){  // 2 CASO - UM ENTIDADE MENOR POSITIVA == SEM RECOMENDACAO\n        \n        msg.payload = {}\n        msg.payload.entities = []\n        msg.payload.recommendation = \"\"\n        \n        for (var i=0 ; i<entities.length ; i++) {\n            msg.payload.entities[i] = {\n                \"entity\": entities[i].type,\n                \"sentiment\": entities[i].sentiment.score,\n                \"mention\": entities[i].text \n            }\n        }\n    }\n    \n    if (minScore < 0){  //3 CASO - UM ENTIDADE MENOR NEGATIVA == COM RECOMENDACAO\n        cat = entities[match[0]].type\n        \n        keys   = Object.keys(ranking[cat]);\n        match  = keys.filter(function(y) { return ranking[cat][y] == car });\n        \n        if (match[0] !== \"0\"){\n            car_select = ranking[cat][getRndInteger(0,match[0])]\n        } else {\n            car_select = ranking[cat][getRndInteger(1,8)]\n        }\n\n        msg.payload = {}\n        msg.payload.entities = []\n        msg.payload.recommendation = car_select\n        \n        for (var i=0 ; i<entities.length ; i++) {\n            msg.payload.entities[i] = {\n                \"entity\": entities[i].type,\n                \"sentiment\": entities[i].sentiment.score,\n                \"mention\": entities[i].text \n            }\n        }\n    }\n} else { \n    \n    minScore = getMinScore(entities).sentiment.score\n    \n    if (minScore >= 0){ //4 CASO - ENTIDADE EMPATADAS MENOR POSITIVA == SEM RECOMENDACAO\n        \n        msg.payload = {}\n        msg.payload.entities = []\n        msg.payload.recommendation = \"\"\n        \n        for (var i=0 ; i<entities.length ; i++) {\n            msg.payload.entities[i] = {\n                \"entity\": entities[i].type,\n                \"sentiment\": entities[i].sentiment.score,\n                \"mention\": entities[i].text \n            }\n        }\n    } else { //5 CASO - ENTIDADE EMPATADAS MENOR NEGATIVA == COM RECOMENDACAO\n        \n        cats = []\n        \n        for (var i=0 ; i<match.length ; i++){\n            cat =  entities[match[i]].type\n            cats.push(cat)\n        }\n        \n        cats_prior = cats.map(function(word) { return prioridades.indexOf(word); })\n        \n        cat = prioridades[Math.min( ...cats_prior)]\n        \n        keys   = Object.keys(ranking[cat]);\n        match  = keys.filter(function(y) { return ranking[cat][y] == car });\n        \n        if (match[0] !== \"0\"){\n            car_select = ranking[cat][getRndInteger(0,match[0])]\n        } else {\n            car_select = ranking[cat][getRndInteger(1,8)]\n        }\n        \n        msg.payload = {}\n        msg.payload.entities = []\n        msg.payload.recommendation = car_select\n        \n        for (var i=0 ; i<entities.length ; i++) {\n            msg.payload.entities[i] = {\n                \"entity\": entities[i].type,\n                \"sentiment\": entities[i].sentiment.score,\n                \"mention\": entities[i].text \n            }\n            \n        }\n    }\n    \n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":480,"wires":[["f1ab0131.f6034","c27a532c.9e1c7"]]},{"id":"6741f8b8.5d8238","type":"debug","z":"1de071bb.386d1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":260,"wires":[]},{"id":"b21cf47f.0e3c98","type":"debug","z":"1de071bb.386d1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":520,"wires":[]},{"id":"b7f16a51.0ad498","type":"change","z":"1de071bb.386d1e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.alternatives.0.transcript","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":420,"wires":[["b21cf47f.0e3c98","ab22b1a6.46844"]]},{"id":"69667de6.ce6a14","type":"debug","z":"1de071bb.386d1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":300,"y":500,"wires":[]},{"id":"ea3d6680.fe6078","type":"google-speech-text","z":"1de071bb.386d1e","name":"","auth":"353045d8.194a1a","input":"payload","output":"payload","inputType":"msg","intype":"content","api":"stt","getVoices":false,"encoding":"FLAC","encodingType":"str","sampleRateHertz":"22050","sampleRateHertzType":"num","languageCode":"pt-BR","languageCodeType":"str","maxAlternatives":"1","maxAlternativesType":"num","profanityFilter":"false","profanityFilterType":"bool","speechContexts":"","speechContextsType":"json","enableWordTimeOffsets":"false","enableWordTimeOffsetsType":"bool","speakingRate":"","speakingRateType":"num","pitch":"","pitchType":"num","volumeGainDb":"","volumeGainDbType":"num","voiceName":"","voiceNameType":"str","ssmlGender":"","ssmlGenderType":"str","x":620,"y":520,"wires":[["b7f16a51.0ad498"]]},{"id":"2d8cb2ec.2c8b9e","type":"ffmpeg-conversion","z":"1de071bb.386d1e","name":"","format":"flac","audiochannels":"mono","x":550,"y":460,"wires":[["ea3d6680.fe6078"]]},{"id":"353045d8.194a1a","type":"google-service-account","z":"1de071bb.386d1e","name":"","scope":[],"way":"json","check_dialogflow":"","check_speech":""}]